version: 1
services:
  - type: web
    name: lvcc-herald-backend
    env: php
    region: oregon
    plan: free
    buildCommand: bash build.sh
    startCommand: bash start.sh
    envVars:
      - key: APP_NAME
        value: Laravel
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: APP_KEY
        generateValue: true
      - key: SESSION_DRIVER
        value: database
      - key: CACHE_STORE
        value: database
      - key: QUEUE_CONNECTION
        value: database
      - key: MAIL_MAILER
        value: smtp
      - key: MAIL_HOST
        value: smtp-relay.brevo.com
      - key: MAIL_PORT
        value: 587
      - key: MAIL_USERNAME
        value: rolandomajait1@gmail.com
      - key: MAIL_PASSWORD
        sync: false
      - key: MAIL_FROM_ADDRESS
        value: rolandomajait1@gmail.com
      - key: MAIL_FROM_NAME
        value: LA_VERDAD_HERALD

databases:
  - name: lvcc-herald-db
    databaseName: la_verdad_herald
    user: herald_user
    plan: free
